:root {
  --space-1: 8px;
  --space-2: 16px;
  --space-3: 24px;
  --space-4: 32px;
  --space-5: 40px;
  --space-6: 48px;
  --space-7: 56px;
  --space-8: 64px;
  --fz-14: 14px;
  --fz-16: 16px;
  --fz-18: 18px;
  --fz-20: 20px;
  --fz-28: 28px;
  --fz-42: 42px;
}

#main {
  display: flex;
  justify-content: space-between;
  gap: var(--space-8);
}

#events {
  min-width: 0;
}

.events-title {
  font-size: var(--fz-28);
  margin-bottom: var(--space-2);
}

.events-label {
  display: inline-block;
  margin-bottom: var(--space-2);
  font-size: var(--fz-20);
  font-weight: 600;
  color: #00798a;
  border-bottom: 4px solid #00798a;
}

.filters {
  display: flex;
  gap: var(--space-1);
  margin: var(--space-2) 0 var(--space-3);
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 12px;
}

.filters select {
  appearance: none;
  padding: 12px 44px 12px 20px;
  border-radius: 24px;
  border: none;
  background-color: #f6f7f8;
  color: #212121;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  background-image: url("../assets/icons/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 16px center;
}

.filters select:hover {
  background-color: #eceef0;
}

.filters select:focus {
  outline: none;
}

.filters select:hover {
  background-color: #eceef0;
}

.filters select:focus {
  outline: none;
}

.events-list-container {
  display: flex;
  width: 100%;
  max-width: 600px;
  flex-direction: column;
  gap: var(--space-1);
}
.event-card {
  flex-direction: row;
  gap: var(--space-2);
  align-items: flex-start;
  min-height: 150px;
}

.event-card__image {
  flex: 0 0 160px;
  margin-bottom: 0;
}

.event-list-item {
  border-top: 1px solid #d9d9d9;
  padding-top: var(--space-2);
}

.events-map {
  width: 360px;
  position: relative;
}

.events-map > p {
  font-size: var(--fz-14);
  line-height: 16px;
}

.events-map > h3 {
  font-size: var(--fz-20);
  line-height: 28px;
}

.map {
  width: 100%;
  height: 285px;
  border-radius: 12px;
  overflow: hidden;
  margin: 16px 0;
}

.map iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

.map-button {
  position: absolute;
  max-width: 170px;
  left: 175px;
  transform: translateX(-50%);
  top: 190px;
  padding: var(--space-1) var(--space-2);
  border: 3px solid #00798a;
  border-radius: 12px;
  color: #00798a;
  font-weight: 600;
  display: flex;
  gap: var(--space-1);
  cursor: pointer;
}

.filter-no-results {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: var(--space-1);
}

.hidden {
  display: none;
}

.filter-no-results > button {
  background-color: #00798a;
  color: #fff;
  font-weight: 500;
}

.filter-no-results > span {
  font-size: var(--fz-16);
  color: #00798a;
  font-weight: 500;
  line-height: 24px;
  cursor: pointer;
}

.filter-no-results > span:hover {
  text-decoration: underline;
}

.no-results-text {
  max-width: 300px;
  color: #707070;
}

.no-results-image {
  display: flex;
  align-items: center;
}

.no-results-image img,
.no-results-image-number {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  border: 5px solid #fff;
  object-fit: cover;
}

.no-results-image img:not(:first-child),
.no-results-image-number {
  margin-left: -40px;
}

.no-results-image-number {
  background: #e11d48;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reset-filter-input {
  background-color: transparent;
  border: none;
  color: #00798a;
  font-weight: 600;
  cursor: pointer;
}

.reset-filter-input:hover {
  text-decoration: underline;
}

@media (max-width: 1160px) {
  .events-map {
    display: none;
  }

  #events {
    width: 100%;
    margin-bottom: var(--space-8);
  }

  .container {
    margin: 0;
  }
}

@media (max-width: 630px) {
  .filters select {
    padding: 6px 44px 6px 20px;
  }
}

@media (max-width: 480px) {
  .event-card {
    min-height: 0;
  }

  .event-card__image {
    flex: 0 0 100px;
    margin-bottom: 0;
  }
}
