:root {
  --space-1: 8px;
  --space-2: 16px;
  --space-3: 24px;
  --space-4: 32px;
  --space-5: 40px;
  --space-6: 48px;
  --space-7: 56px;
  --space-8: 64px;
  --fz-14: 14px;
  --fz-16: 16px;
  --fz-18: 18px;
  --fz-20: 20px;
  --fz-28: 28px;
  --fz-42: 42px;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  max-width: 1196px;
  margin: 0 auto var(--space-8);
  padding: 0 24px;
}

.section-margin-bottom {
  margin-bottom: var(--space-3);
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--space-2) var(--space-5) var(--space-2);
  position: relative;
  margin-bottom: 80px;
}

.header__left-side {
  display: flex;
  align-items: center;
  gap: var(--space-5);
}

.logo img {
  height: 34px;
}

.search-form {
  display: flex;
  align-items: center;
  height: 42px;
  border: 1px solid #d9d9d9;
  border-radius: 12px;
  overflow: hidden;
}

.search__field {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 var(--space-1);
  gap: var(--space-1);
  min-width: 0;
}

.search__field input {
  border: none;
  outline: none;
  font-size: var(--fz-16);
  width: 100%;
  min-width: 0;
}

.search__field--event {
  width: clamp(150px, 20vw, 400px);
}

.search__field--location {
  padding: 0 var(--space-2);
  width: clamp(100px, 18vw, 300px);
}

.search__divider {
  width: 1px;
  height: 100%;
  background: #e5e5e5;
}

.search__submit {
  height: 100%;
  width: 48px;
  border: none;
  background: #f65858;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.search__submit img {
  color: #fff;
}

.header__right-side {
  display: flex;
  align-items: center;
  gap: var(--space-3);
  font-size: var(--fz-14);
  font-weight: 600;
}

.choose-language-wrapper {
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}

.globe-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  padding: var(--space-1) var(--space-2);
  cursor: pointer;
  border-radius: 8px;
  border: 1px solid transparent;
}

.login-btn {
  background-color: transparent;
}

.login-btn:hover {
  background-color: #dff9f9;
}

.signup-btn {
  background-color: #02798a;
  color: #fff;
}

.signup-btn:hover {
  background-color: #025865;
}

#hero {
  display: flex;
  align-items: center;
  gap: var(--space-6);
}

.hero__left-side {
  max-width: 600px;
}

.hero-title {
  font-size: clamp(1.5625rem, 1.1488rem + 1.8913vw, 2.5625rem);
  font-weight: bold;
  line-height: 52px;
  margin-bottom: var(--space-3);
}

.hero-text {
  font-size: clamp(0.75rem, 0.6724rem + 0.3546vw, 0.9375rem);
  line-height: 24px;
  margin-bottom: var(--space-3);
  color: #212121;
}

.hero-btn {
  background-color: #02798a;
  border: 1px solid #02798a;
  color: #fff;
  text-decoration: none;
}

.hero__right-side {
  flex: 1 0 379px;
}

.hero-btn:hover {
  background-color: #025865;
}

.events-header {
  display: flex;
  align-items: center;
  gap: var(--space-4);
  margin-bottom: var(--space-3);
}

.section-title {
  font-size: var(--fz-28);
}

.events-location-wrapper {
  background-color: #97cad126;
  padding: 12px;
  border-radius: 12px;
}

.events-location-link {
  display: inline-flex;
  align-items: center;
  gap: var(--space-5);
  text-decoration: none;
  color: #00798a;
  font-weight: 600;
  font-size: var(--fz-18);
}

.events-location-link:hover {
  text-decoration: underline;
}

.all-events-link-wrapper {
  margin-left: auto;
}

.links {
  font-size: var(--fz-14);
  text-decoration: none;
  color: #00798a;
  font-weight: 500;
  line-height: 24px;
}

.links:hover {
  text-decoration: underline;
}

.links:visited {
  color: #00798a;
  text-decoration: none;
}

.events-list-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  row-gap: var(--space-5);
  column-gap: var(--space-4);
  list-style: none;
}

.event-list-item {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.event-list-item:hover {
  transform: translateY(-5px);
}

.event-card {
  display: flex;
  flex-direction: column;
  gap: var(--space-1);
}

.event-card__image {
  margin-bottom: var(--space-1);
}

.event-card__image img {
  width: 270px;
  border-radius: 16px;
  display: block;
}

.event-card__title {
  font-size: var(--fz-18);
  font-weight: 600;
  line-height: 24px;
  margin-bottom: var(--space-2);
}

.event-card__category {
  color: #6b6b6b;
  font-size: var(--fz-14);
  margin-bottom: var(--space-2);
}

.event-card__meta {
  display: flex;
  flex-direction: column;
  gap: var(--space-1);
}

.event-card__date {
  margin-bottom: var(--space-1);
  text-transform: uppercase;
}

.event-card__date,
.event-card__going,
.event-card__price {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: var(--fz-14);
  color: #333;
}

.event-card__footer {
  display: flex;
  gap: 16px;
}

#join-meetup {
  padding: 0 24px;
}

.join-meetup-inner {
  background-color: rgba(151, 202, 209, 0.08);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--space-6);
  padding: var(--space-3) var(--space-7);
}

.join-meetup-content {
  max-width: 739px;
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
}

.join-meetup-image {
  flex-shrink: 0;
}

.join-meetup__image img {
  max-width: 340px;
  height: auto;
  display: block;
}

.join-meet-up-btn {
  width: 100%;
  max-width: 190px;
  background-color: #e32359;
  border: 1px solid #e32359;
  color: #fff;
}

.join-meet-up-btn:hover {
  background-color: #cf2253;
}

.top-categories-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: var(--space-2);
}

.category-card {
  background-color: rgba(151, 202, 209, 0.08);
  flex: 0 1 125px;
  border-radius: 12px;
  padding: var(--space-2);
}

.category-card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: var(--space-1);
}

.category-title {
  font-size: var(--fz-14);
  line-height: 24px;
}

.popular-cities-list {
  list-style: none;
  display: flex;
  gap: var(--space-1);
  flex-wrap: wrap;
  justify-content: space-between;
}

.section-text-under-title {
  margin-bottom: var(--space-3);
  color: #707070;
  max-width: 800px;
}

.popular-cities-card {
  flex: 0 0 205px;
  text-align: center;
}

.popular-cities-card > a > span {
  display: inline-block;
  margin-top: var(--space-3);
  font-size: var(--fz-18);
  color: #000;
  font-weight: 600;
}

/* ======Privacy Policy====== */

.privacy-modal {
  position: fixed;
  max-width: 700px;
  background-color: #f7f7f8;
  padding: var(--space-3) var(--space-5);
  border-radius: 30px;
  left: 1rem;
  bottom: -150%;
  border: 1px solid #e32359;
}

.privacy-modal--shown {
  bottom: 0.5rem;
}

.privacy-modal-content {
  display: flex;
  flex-direction: column;
  gap: var(--space-1);
}

.privacy-modal-action-handlers {
  display: flex;
  justify-content: end;
  gap: var(--space-2);
}

.privacy-accept {
  background-color: #02798a;
  color: #fff;
  font-weight: 600;
}

.privacy-accept:hover {
  background-color: #025865;
}

.privacy-reject {
  border: 1px solid #e32359;
}

.privacy-reject:hover {
  background-color: #cecece;
}

.privacy-modal-link {
  text-decoration: none;
  color: #00798a;
}

.privacy-modal-link:hover {
  color: #025865;
  text-decoration: underline;
}

.how-meetup-works-list {
  display: flex;
  gap: var(--space-4);
}

.how-meetup-item {
  display: flex;
  gap: var(--space-3);
  width: 100%;
  padding: var(--space-4) var(--space-3);
  background-color: rgba(151, 202, 209, 0.08);
  border-radius: 12px;
}

.how-item-content > h3,
.how-item-content > p {
  margin-bottom: var(--space-3);
}

.how-item-content > p {
  max-width: 370px;
}

.friendship-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--space-4);
}

.friendship-list-item {
  display: flex;
  flex-direction: column;
}

.friendship-list-item-image {
  width: 100%;
  object-fit: cover;
  border-radius: 16px;
}

.friendship-list-item-title {
  margin: var(--space-2) 0;
  max-width: 320px;
}

.friendship-list-item-text {
  font-size: var(--fz-14);
  line-height: 24px;
  color: #707070;
  margin-bottom: var(--space-2);
}

.friendship-list-item-link {
  margin-top: auto;
}

#footer {
  background-color: #212121;
  color: #f6f7f8;
  padding: var(--space-4) 0;
}

#footer a {
  color: #bdbdbd;
  text-decoration: none;
  font-size: var(--fz-14);
}

#footer a:hover {
  color: #fff;
}

.footer-title {
  display: flex;
  align-items: center;
  gap: var(--space-3);
  margin-bottom: var(--space-4);
  font-weight: 800;
  font-size: var(--fz-16);
}

.footer-title-btn {
  border: 2px solid #fff;
  padding: var(--space-1) var(--space-2);
  border-radius: 8px;
  color: #000;
  font-weight: 500;
}

#footer .footer-title-btn:hover {
  background-color: #fff;
  color: #000;
  transition-duration: 0.3s;
}

.footer-divider {
  border: none;
  border-top: 1px solid #3a3a3a;
  margin-bottom: 40px;
}

.footer-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  margin-bottom: 48px;
}

.footer-title {
  margin-bottom: var(--space-1);
  font-size: var(--fz-16);
}

.footer-column {
  display: flex;
  flex-direction: column;
  gap: var(--space-1);
}

.footer-column > a {
  max-width: 125px;
}

.footer-apps {
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
}

.footer-apps img {
  width: 140px;
}

.footer-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
  gap: var(--space-3);
  flex-wrap: wrap;
  font-size: var(--fz-14);
}

.footer-socials {
  display: flex;
  align-items: center;
  gap: var(--space-2);
}

.footer-socials > a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  padding: 6px;
  border-radius: 50%;
}

.footer-socials > a > img {
  width: 25px;
  height: 25px;
}

.footer-socials > a:hover {
  background-color: rgba(151, 150, 150, 0.3);
}

.footer-legal {
  display: flex;
  gap: var(--space-2);
  flex-wrap: wrap;
}

.footer-inner {
  margin-bottom: 0;
}

@media (max-width: 1160px) {
  .top-categories-list {
    justify-content: center;
    column-gap: var(--space-3);
    row-gap: var(--space-1);
  }

  .popular-cities-list {
    justify-content: center;
  }

  .friendship-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .container {
    margin-bottom: var(--space-6);
  }

  #header {
    padding: var(--space-1) var(--space-3) var(--space-1);
  }

  .search-form {
    position: absolute;
    top: 100%;
    margin-top: var(--space-1);
    left: var(--space-3);
    right: var(--space-3);
    width: auto;
  }

  .header__right-side {
    gap: var(--space-1);
  }

  #hero {
    flex-direction: column;
  }

  .hero__left-side {
    display: flex;
    flex-direction: column;
  }

  .hero__right-side {
    flex: 1 0 215px;
  }

  .hero-btn {
    align-self: center;
  }

  .hero-title {
    line-height: 30px;
  }

  .all-events-link-wrapper {
    display: none;
  }

  .events-location-link {
    font-size: var(--fz-14);
  }

  .join-meetup-inner {
    flex-direction: column-reverse;
    position: relative;
    padding-top: var(--space-5);
  }

  .join-meetup-image {
    flex-shrink: 1;
  }

  .join-meet-up-title {
    position: absolute;
    top: var(--space-1);
    left: var(--space-2);
  }

  .join-meetup-text {
    font-size: var(--fz-14);
    line-height: 24px;
  }

  .join-meet-up-btn {
    align-self: center;
  }

  .privacy-modal {
    right: 1rem;
  }

  .how-meetup-works-list {
    flex-direction: column;
  }

  .how-meetup-item {
    gap: var(--space-2);
    padding: var(--space-3) var(--space-2);
  }

  .footer-content {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 630px) {
  .events-list-container {
    display: flex;
    flex-direction: column;
    gap: var(--space-1);
  }

  .event-card {
    flex-direction: row;
    gap: var(--space-2);
    align-items: flex-start;
    min-height: 150px;
  }

  .event-card__image {
    flex: 0 0 160px;
    margin-bottom: 0;
  }

  .event-card__image img {
    width: 100%;
    height: auto;
    border-radius: 12px;
    display: block;
  }

  .event-card__title {
    margin-bottom: 4px;
  }

  .event-card__date {
    margin-bottom: 4px;
  }

  .event-list-item {
    border-top: 1px solid #d9d9d9;
    padding-top: var(--space-2);
  }

  .privacy-modal-content {
    display: flex;
    flex-direction: column;
    gap: var(--space-1);
  }

  .privacy-modal-title {
    font-size: var(--fz-18);
  }

  .privacy-modal p {
    font-size: var(--fz-14);
  }

  .privacy-modal-subtitle {
    font-size: var(--fz-16);
  }

  .privacy-modal-action-handlers {
    display: flex;
    flex-direction: column;
    padding: 0 var(--space-1);
  }

  .popular-cities-list {
    gap: var(--space-2);
  }

  .popular-cities-card {
    flex: 0 0 150px;
  }

  .friendship-list {
    grid-template-columns: 1fr;
  }

  .friendship-list-item-image {
    height: 200px;
  }

  .friendship-list-item-title {
    font-size: var(--fz-16);
  }

  .footer-title {
    flex-direction: column;
    gap: var(--space-2);
    align-items: flex-start;
  }

  .footer-bottom {
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .section-margin-bottom {
    margin-bottom: var(--space-2);
  }

  .event-card {
    min-height: 0;
  }

  .event-card__image {
    flex: 0 0 100px;
  }

  .event-card__title {
    margin-bottom: 0px;
    font-size: 12px;
    line-height: 14px;
  }

  .event-card__category {
    margin-bottom: 0px;
    font-size: 12px;
  }

  .event-card__date {
    margin-bottom: 0px;
    font-size: 12px;
  }

  .event-card__going {
    font-size: 12px;
  }

  .event-card__price {
    font-size: 12px;
  }

  .section-title {
    font-size: var(--fz-20);
  }

  .events-location-wrapper {
    padding: var(--space-1);
  }

  .events-location-link {
    gap: var(--space-2);
  }

  .events-header {
    gap: var(--space-2);
  }

  #join-meetup {
    padding: 0;
  }

  .join-meetup-inner {
    padding: var(--space-4) var(--space-2);
    gap: var(--space-2);
  }

  .join-meet-up-title {
    font-size: var(--fz-20);
  }

  .join-meetup-image img {
    max-width: 238px;
  }

  .privacy-modal {
    padding: var(--space-2) var(--space-2);
  }

  .privacy-modal-title {
    font-size: var(--fz-16);
  }

  .privacy-modal p {
    font-size: var(--fz-14);
  }

  .privacy-modal-subtitle {
    font-size: var(--fz-14);
  }

  .section-text-under-title {
    font-size: var(--fz-14);
  }

  .how-item-content > p,
  .how-item-content > a {
    font-size: var(--fz-14);
  }

  .footer-legal {
    gap: var(--space-1);
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 954px) {
  #header {
    gap: var(--space-2);
  }
  .header__left-side {
    flex: 1 1 0%;
  }

  .search__field--event {
    width: 100%;
  }

  .search__field--location {
    display: none;
  }

  .search__divider {
    display: none;
  }

  .event-list-item:hover {
    transform: translateY(0);
  }
}

.events-map {
  width: 360px;
}

.map {
  width: 100%;
  height: 285px;
  border-radius: 12px;
  overflow: hidden;
  margin: 16px 0;
}

.map iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

.map-button {
  width: 100%;
}
